
<p>Welcome to home page......</p>
    <table class="table table-striped table-image">
        <thead class="thead-dark">
            <tr>
                <th scope="col">User Name</th>
                <th scope="col">Role</th>
                <% if current_user.present?%> 
                    <th scope="col">Action</th>
                <%end%>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |u|%>
                <tr>
                    <td><%= u.name %></td>
                    <td><%= u.role%></td>
                    <td><%if current_user.present?%>
                            <%= link_to "Details", "/users/#{u.id}", class: "bi bi-eye-fill"%>
                            <% if current_user.role == "superadmin"%>
                                <%= link_to "Delete", "/users/#{u.id}", method: "delete", data: {confirm: "are you sure ?"}, class: "bi bi-trash3-fill"%>
                                <% if current_user.name == u.name%>
                                    <%= link_to "Edit", edit_user_registration_path(u.id),class: "bi bi-pencil-square"%>
                                <%else%>
                                    <%= link_to "Edit", edit_user_path(u.id),class: "bi bi-pencil-square"%>
                                <%end%>
                            <%end%>
                            <% if (current_user.role == "admin" || current_user.role == "user") && current_user.id.eql?(u.id) %>
                                <%= link_to "Delete", "/users/#{u.id}", method: "delete", data: {confirm: "are you sure ?"}, class:"bi bi-trash3-fill"%>
                                <%= link_to "Edit", edit_user_registration_path(u.id), class: "bi bi-pencil-square"%>
                            
                            <%end%>
                        <%end%>
                    </td>
                </tr>
            <%end%>
        </tbody>
    </table> 
