<header class=" header navbar navbar-fixed-top navbar-inverse" style= "background-color: rgba(0, 0, 0, 0.2);">
       
      <div class="container-fluid" >
        <h5>  <%= link_to "Home", users_path%>
              | <%= link_to "Posts", posts_path%>
              <% if current_user.present? %>
              | <%= link_to "Create Post", new_post_path%>
              <%end%>
        </h5>
       <nav class="navbar-fixed-top">
        <div class="pull-right">
            
         <% if current_user.present? %>
                  <strong><%= current_user.name %></strong><i style="color:red;">(<%= current_user.role%>)</i> |
                  <%= link_to "Sign out", destroy_user_session_path, method: 'delete'%> 
                  <%end%>
        </div>
        </nav>
      </div>
</header>

