<h2>Post</h2>
<p><%= @post.user.name %></p>
<div class = "container-fluid bg-secondary text-white">
<div class= "row">
    <div class = "col-10">
        <div class= "pb-3">
            <b style="color:black">Title :</b> <%= @post.title %>
        </div>
   </div>
    <div class = "col-6 ">
       <%#= image_tag(@post.image.url, width: "300", height: "300")%>
        <b style="color:black">Description :</b><%=strip_tags(@post.description)%>
    </div>
    <div class = "col-6">
        <%= image_tag(@post.image.url, width: "350", height: "400")%>
    </div>
    <div class="col-4">
    <b style="color:black">Published :</b><%= @post.published%>
    </div>
</div>
<div  >
<b style="color:black">Comments:</b><br />
    <ul>
        <% @post.comments.each do |comments|%>
           <li style="color:black"><%= comments.body %> | by- <i ><%= comments.user.name%> </i>| 
                <%if current_user.present? %>
                    <% if(current_user.id == @post.user.id || current_user.id == comments.user.id) %>
                        <%= link_to "", "/posts/#{@post.id}:/comments/#{comments.id}", method: "delete", data: {confirm: "are you sure"}, class: "bi bi-trash3-fill icon-green", style:"color:red"%>
                        <%= link_to "", "/posts/#{@post.id}/comments/#{comments.id}/edit", class: "bi bi-pencil-square", style:"color:black"%>
                    <%elsif current_user.role.name == "Admin" || current_user.role.name == "SuperAdmin" %>
                        <%= link_to "", "/posts/#{@post.id}:/comments/#{comments.id}", method: "delete", data: {confirm: "are you sure"}, class: "bi bi-trash3-fill",style:"color:red"%>                        
                        <%= link_to "", "/posts/:#{@post.id}/comments/#{comments.id}/edit", class: "bi bi-pencil-square", style:"color:black"%>
                    <%end%>
                <%end%>
            </li>
        <%end%>
    <ul>
<div class = ""><%= render partial: "comments/form"%></div>
<p><%= link_to 'Back', posts_path, style:"color:black"%></p>
 
